<h1>Yelp</h1>
<ul>
    <% @restaurants.each do |restaurant| %>
    <li>
        <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone_number %></p>
        <hr>
    </li>
    <% end %>
</ul>
